:root {
    --WHITE: #ffffff;
    --YELLOW: #f8c300;
    --BLACK: #000000;
    --BLACK-SH: #00000090;
    --FONT-FAMILY-1: 'Horta', sans-serif;
    --FONT-FAMILY-2: 'Product', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    width: 100px;
    padding: 10px 10px 6px 10px;
    border: 2px var(--YELLOW) solid;
    transition: 0.3s;
    text-align: center;
}

.button:hover {
    color: var(--BLACK);
    background-color: var(--YELLOW);
}