* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding-top: 60px;
}

.change-block {
    padding: 5% 15%;
    background-color: var(--BLACK);
}

.change-title {
    width: 100%;
    color: var(--WHITE);
    margin-bottom: 2.5%;
}

.change-title span {
    color: var(--YELLOW);
}

.change-title h1 {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    font-family: var(--FONT-FAMILY-1);
}

.change-block a {
    text-decoration: none;
    color: var(--YELLOW);
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--FONT-FAMILY-1);
    line-height: 1.3;
}

.button-change {
    display: inline-block;
    margin: 0 10px;
}

.change-block-button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.g-line-in-block {
    width: 50px;
    height: 2px;
    background-color: var(--YELLOW);
    margin: 0 auto;
    margin-bottom: 2.9%;
}