.main {
    padding-top: 60px;
}

.change-block {
    padding: 2% 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--WHITE);
}

.change-title {
    width: 100%;
    color: var(--BLACK);
    margin-bottom: 2%;
}

.change-title span {
    color: var(--YELLOW);
}

.change-title h1 {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    font-size: 30px;
    font-family: var(--FONT-FAMILY-1);
}

.change-block a {
    text-decoration: none;
    color: var(--YELLOW);
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--FONT-FAMILY-1);
    line-height: 1.3;
}

.button-change {
    display: inline-block;
    margin: 0 10px;
}

.change-block-button {
    padding-top: 2.9%;
    display: flex;
    justify-content: center;
    align-content: center;
}