:root {
    --WHITE: #ffffff;
    --YELLOW: #f8c300;
    --FONT-FAMILY-1: 'Horta', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    background: #000;
    padding: 0 15%;
}

.menu {
    padding: 0 10%;
}

.header-menu-logo {
    width: auto;
    height: 60px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-menu-logo-item {
    display: inline-block;
}

.header-menu-logo-img {
    height: 46px;
    margin: 7px 0px;
}

.header-menu-logo-txt {
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--FONT-FAMILY-1);
    color: var(--YELLOW);
    margin: 15px 10px;
}

.header-menu-items {
    float: right;
}

.header-menu-items-li {
    display: inline-block;
    font-size: 20px;
    font-family: var(--FONT-FAMILY-1);
    padding: 20px 10px;
    letter-spacing: 0.5px;
    line-height: 1;
}

.header-menu-items-ul {
    padding-top: -2px;
}

.g-line-block {
    display: flex;
    justify-content: center;
}

.g-line {
    width: 5px;
    height: 2px;
    background-color: var(--YELLOW);
    transition: 0.3s;
}


.header-menu-items-li:nth-child(1):hover .g-line {
    width: 100%;
}

.header-menu-items-li:nth-child(1):hover {
    position: relative;
    top: -2px;
}

.header-menu-items-li:nth-child(2):hover .g-line {
    width: 100%;
}

.header-menu-items-li:nth-child(2):hover {
    position: relative;
    top: -2px;
}

.header-menu-items-li:nth-child(3):hover .g-line {
    width: 100%;
}

.header-menu-items-li:nth-child(3):hover {
    position: relative;
    top: -2px;
}

.header-menu-items-li a {
    text-decoration: none;
    color: var(--YELLOW);
}

.header-menu-bag img {
    height: 55px;
    padding: 10px 0px;
    float: right
}